* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/images/ракушка.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-weight: normal;
}

h1, h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    color: #926239;
    justify-content: center;
    align-items: center;
}

button {
    color: #926239;
    border-color: #926239;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background: transparent;
    font-style: 18px;
    margin-top: 10px;
}

button:hover {
    background-color: #926239;
    color: white;
    cursor: pointer;
}

.bg-brown {
    background-color: #926239;
    color: white;
}

.p-20 {
    padding: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-content {
    display: flex;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .footer-content {
        flex-wrap: wrap;
    }
}