/* 1em = 1 parent font-size
rem - relative em (root em)
1 rem = 1 font-size root

*/
/* rem */

:root {
    font-size: 10px;
}

li {
    display: inline-block;
    background-color: red;
    padding: 10px;
}

ul {
    font-size: 0;
}

li {
    font-size: 2rem;
}